{% extends "base.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
<h1>О сайте</h1>
    <blockquote>
        <p>
            <span class="Markdown-Word">Учебное</span>
            <span class="Markdown-Word"> приложение</span>
            <span class="Markdown-Word"> для</span>
            <span class="Markdown-Word"> отработки</span>
            <span class="Markdown-Word"> навыков</span>
            <span class="Markdown-Word"> веб‑разработки.</span>
            <span class="Markdown-Word"> Содержит:</span>
        </p>
        <ul>
            <li>
                <p>
                    <span class="Markdown-Word">главную</span>
                    <span class="Markdown-Word"> страницу</span>
                    <span class="Markdown-Word"> с</span>
                    <span class="Markdown-Word"> навигацией;</span>
                </p>
            </li>
            <li>
                <p>
                    <span class="Markdown-Word">каталог</span>
                    <span class="Markdown-Word"> автомобилей;</span>
                </p>
            </li>
            <li>
                <p>
                    <span class="Markdown-Word">форму</span>
                    <span class="Markdown-Word"> добавления</span>
                    <span class="Markdown-Word"> новой</span>
                    <span class="Markdown-Word"> записи.</span>
                </p>
            </li>
        </ul>
    </blockquote>
{% endblock %}